body {
    background-color: rgb(241, 243, 241) !important;
}
table {
    background-color:#F1F1F3 !important;
}
.dataTables_scrollHead .dataTables_scroll table {
    margin-top:2rem;
}
.dataTables_scrollHead table.dataTable  tr th, .dataTables_scrollHead table.dataTable  tr td {
    /* padding:0 !important;   */ 
    margin:0 !important;   /* */ 
    color: #5a5a5a !important;
    font-weight: normal!important;
    font-size: 0.7rem !important;
    box-sizing: border-box!important;
    word-wrap: break-word !important;    
    background-color: #F1F1F3 !important;
    /* text-transform: uppercase !important; */
    vertical-align: middle !important;
    background-position: center right !important;
    height: 3rem;
    text-align: center;
}
table  tr th .sorting{
    color: blue!important;
}

table tr td:nth-child(1), table tr th:nth-child(1){ /* Date Time */
    /* background-color: aqua!important; */
    width: 10% !important;
}
table tr td:nth-child(2), table tr th:nth-child(2){ /* company */
    /* background-color: rgb(211, 120, 0)!important; */
    width: 10% !important;
}
table tr td:nth-child(3), table tr th:nth-child(3){ /* reference */
    /* background-color: rgb(18, 145, 145)!important; */
    width: 10% !important;
}
table tr td:nth-child(4), table tr th:nth-child(4){ /* name */
    /* background-color: rgb(18, 145, 35)!important; */
    width: 10% !important;
}
table tr td:nth-child(5), table tr th:nth-child(5){ /* vulnerability */
    /* background-color: rgb(70, 31, 31)!important; */
    width: 5% !important;
}
table tr td:nth-child(6), table tr th:nth-child(6){ /* motivation */
    /* background-color: rgb(76, 231, 83)!important; */
    width: 5% !important;
}
table tr td:nth-child(7), table tr th:nth-child(7){ /* engaged */
    /* background-color: rgb(170, 197, 19)!important; */
    width: 2% !important;
}
table tr td:nth-child(8), table tr th:nth-child(8){ /* customer voice */
    /* background-color: rgb(67, 18, 145)!important; */
    width: 2% !important;
}
table tr td:nth-child(9), table tr th:nth-child(9){ /* debt */
    /* background-color: rgb(218, 68, 9)!important; */
    width: 2% !important;
}
table tr td:nth-child(10), table tr th:nth-child(10){ /* addiction */
    /* background-color: rgb(145, 18, 18)!important; */
    width: 2% !important;
}
table tr td:nth-child(11), table tr th:nth-child(11){ /* warning */
    /* background-color: rgb(18, 145, 145)!important; */
    width: 10% !important;
}
table tr td:nth-child(12), table tr th:nth-child(12){ /* warning */
    /* background-color: rgb(145, 126, 18)!important; */
    width: 10% !important;
}
table tr td:nth-child(13), table tr th:nth-child(13){ /* warning */
    /* background-color: rgb(29, 145, 18)!important; */
    width: 10% !important;
}
table tr td:nth-child(14), table tr th:nth-child(14){ /* SIGNPOSTS */
    /* background-color: rgb(145, 18, 135)!important; */
    width: 2% !important;
}
table tr td:nth-child(15), table tr th:nth-child(15){ /* intervention */
    /* background-color: rgb(145, 18, 46)!important; */
    width: 5% !important;
}
table tr td:nth-child(16), table tr th:nth-child(16){ /* intervention */
    /* background-color: rgb(218, 255, 7)!important; */
    width: 5% !important;
}
table tr:nth-child(even){ /*  */
    background-color: rgba(228, 228, 228, 0.15)!important; /* */
}
table tr:nth-child(odd){ /*  */
    background-color:  white!important; /* */
}
th div.dataTables_sizing {
    width: auto!important;
}
.vulerableFlag {
    background-color:#ff0000;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.table .dataTable .no-footer td{
    text-align: center;
}
.dataTables_wrapper .dataTables_scroll {
    clear: both;
    padding: 0.5rem;
    background-color: white;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #cccccc !important;
    height: 31px !important;
    margin: 0.2rem;
    border-radius: 0px;
}

.select2-dropdown--below ul li {
    color:#4c5a67 !important;
}
.select2-dropdown {
    border: 1px solid #ccc!important;
}
.hyperlink, .clickable {
    color: #83cdbd !important;
    font-weight: 600;
}
.clickable:hover {
    color: #245c50 !important;
    font-weight: 600;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
    text-align: center;
    font-size: smaller;
}
.checkmark {
    top: -5px;
    left: 25px;
    background-color: #f7f7f7!important;
    border: 1px solid #cccccc !important;
}
.checkmark:after {
    border:  #4c5a67;
}
.select2-search input {
    background-color: #f7f7f7 !important;
    border: 1px solid #cccccc !important;
    color: #4c5a67 !important;
}