body {
    background-color: rgb(241, 243, 241) !important;
}
table {
    background-color:#F1F1F3 !important;
}
.dataTables_scrollHead .dataTables_scroll table {
    margin-top:2rem;
}
.dataTables_scrollHead table.dataTable  tr th, .dataTables_scrollHead table.dataTable  tr td {
    /* padding:0 !important;   */ 
    margin:0 !important;   /* */ 
    color: #5a5a5a !important;
    font-weight: normal!important;
    font-size: 0.7rem !important;
    box-sizing: border-box!important;
    word-wrap: break-word !important;    
    /* background-color: #F1F1F3 !important; */
    background-color: #ccffcc!important;
    /* text-transform: uppercase !important; */
    vertical-align: middle !important;
    background-position: center right !important;
    height: 3rem;
    text-align: center;
    border: 0.002em solid #d1e0e0 !important;
}
table  tr th .sorting{
    color: blue!important;
}

table tr:nth-child(even){ /*  */
    background-color: #e6ffe6!important; /* */
}
table tr:nth-child(odd){ /*  */
    background-color:  white!important; /* */
}
th div.dataTables_sizing {
    width: auto!important;
}
.vulerableFlag {
    background-color:#ff0000;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.table .dataTable .no-footer td{
    text-align: center;
}
.dataTables_wrapper .dataTables_scroll {
    clear: both;
    padding: 0.5rem;
    background-color: white;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #cccccc !important;
    height: 31px !important;
    margin: 0.2rem;
    border-radius: 0px;
}

.select2-dropdown--below ul li {
    color:#4c5a67 !important;
}
.select2-dropdown {
    border: 1px solid #ccc!important;
}
.hyperlink, .clickable {
    color: #83cdbd !important;
    font-weight: 600;
}
.clickable:hover {
    color: #245c50 !important;
    font-weight: 600;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
    text-align: center;
    font-size: smaller;
    border: 0.002em solid #d1e0e0;
}
.checkmark {
    top: -5px;
    left: 25px;
    background-color: #f7f7f7!important;
    border: 1px solid #cccccc !important;
}
.checkmark:after {
    border:  #4c5a67;
}
.select2-search input {
    background-color: #f7f7f7 !important;
    border: 1px solid #cccccc !important;
    color: #4c5a67 !important;
}
